<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZsjSupplierEntruseBookDao">
	<resultMap id="ScmZsjSupplierEntruseBook" type="com.winway.scm.model.ScmZsjSupplierEntruseBook">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="supplierFirstId" column="supplierFirstId" jdbcType="VARCHAR"/>
		<result property="entrustCode" column="entrustCode" jdbcType="VARCHAR"/>
		<result property="entrustName" column="entrustName" jdbcType="VARCHAR"/>
		<result property="entrustValidity" column="entrustValidity" jdbcType="TIMESTAMP"/>
		<result property="idNumber" column="idNumber" jdbcType="VARCHAR"/>
		<result property="IDValidity" column="IDValidity" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZsjSupplierEntruseBook">
		INSERT INTO SCM_ZSJ_SupplierEntruseBook
		(id,supplierFirstId,entrustCode,entrustName,entrustValidity,idNumber,IDValidity)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{supplierFirstId,jdbcType=VARCHAR}, #{entrustCode,jdbcType=VARCHAR}, #{entrustName,jdbcType=VARCHAR}, #{entrustValidity,jdbcType=TIMESTAMP}, #{idNumber,jdbcType=VARCHAR}, #{IDValidity,jdbcType=TIMESTAMP})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZsjSupplierEntruseBook">
		SELECT * FROM SCM_ZSJ_SupplierEntruseBook 
		WHERE 
		id=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZsjSupplierEntruseBook">
		SELECT * FROM SCM_ZSJ_SupplierEntruseBook
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZsjSupplierEntruseBook">
		UPDATE SCM_ZSJ_SupplierEntruseBook SET
		supplierFirstId=#{supplierFirstId,jdbcType=VARCHAR},
		entrustCode=#{entrustCode,jdbcType=VARCHAR},
		entrustName=#{entrustName,jdbcType=VARCHAR},
		entrustValidity=#{entrustValidity,jdbcType=TIMESTAMP},
		idNumber=#{idNumber,jdbcType=VARCHAR},
		IDValidity=#{IDValidity,jdbcType=TIMESTAMP}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM SCM_ZSJ_SupplierEntruseBook 
		WHERE
		id=#{id}
	</delete>
	
	<delete id="delByMainId">
	    DELETE FROM SCM_ZSJ_SupplierEntruseBook
	    WHERE
	    supplierFirstId=#{supplierFirstId}
	</delete> 
	
	<select id="getByMainId"   parameterType="java.lang.String" resultMap="ScmZsjSupplierEntruseBook">
		SELECT * FROM SCM_ZSJ_SupplierEntruseBook 
		WHERE 
		supplierFirstId=#{supplierFirstId}
	</select>   
	
	<select id="getScmZsjSupplierEntruseBookList" resultMap="ScmZsjSupplierEntruseBook">
	    SELECT *
	    FROM SCM_ZSJ_SupplierEntruseBook 
	    WHERE supplierFirstId=#{supplierFirstId}
	</select>
	
</mapper>