<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZsjCommerceLicenceDao">
	<resultMap id="ScmZsjCommerceLicence" type="com.winway.scm.model.ScmZsjCommerceLicence">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="commerceFirstId" column="commerceFirstId" jdbcType="VARCHAR"/>
		<result property="licenseKey" column="licenseKey" jdbcType="VARCHAR"/>
		<result property="validity" column="validity" jdbcType="TIMESTAMP"/>
		<result property="managementScope" column="managementScope" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZsjCommerceLicence">
		INSERT INTO SCM_ZSJ_CommerceLicence
		(id,commerceFirstId,licenseKey,validity,managementScope)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{commerceFirstId,jdbcType=VARCHAR}, #{licenseKey,jdbcType=VARCHAR}, #{validity,jdbcType=TIMESTAMP}, #{managementScope,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZsjCommerceLicence">
		SELECT * FROM SCM_ZSJ_CommerceLicence 
		WHERE 
		id=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZsjCommerceLicence">
		SELECT * FROM SCM_ZSJ_CommerceLicence
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZsjCommerceLicence">
		UPDATE SCM_ZSJ_CommerceLicence SET
		commerceFirstId=#{commerceFirstId,jdbcType=VARCHAR},
		licenseKey=#{licenseKey,jdbcType=VARCHAR},
		validity=#{validity,jdbcType=TIMESTAMP},
		managementScope=#{managementScope,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM SCM_ZSJ_CommerceLicence 
		WHERE
		id=#{id}
	</delete>
	
	<delete id="delByMainId">
	    DELETE FROM SCM_ZSJ_CommerceLicence
	    WHERE
	    commerceFirstId=#{commerceFirstId}
	</delete>    
	
	<select id="getByMainId"   parameterType="java.lang.String" resultMap="ScmZsjCommerceLicence">
		SELECT * FROM SCM_ZSJ_CommerceLicence 
		WHERE 
		commerceFirstId=#{commerceFirstId}
	</select>
	
	<select id="getScmZsjCommerceLicenceList" resultMap="ScmZsjCommerceLicence">
	    SELECT *
	    FROM SCM_ZSJ_CommerceLicence 
	    WHERE commerceFirstId=#{commerceFirstId}
	</select>
	
</mapper>