<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZsjAchageDao">
	<resultMap id="ScmZsjAchage" type="com.winway.scm.model.ScmZsjAchage">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="productId" column="productId" jdbcType="VARCHAR"/>
		<result property="productCode" column="productCode" jdbcType="VARCHAR"/>
		<result property="productNum" column="productNum" jdbcType="VARCHAR"/>
		<result property="achage" column="achage" jdbcType="VARCHAR"/>
		<result property="code" column="code" jdbcType="VARCHAR"/>
		<result property="isDelete" column="isDelete" jdbcType="VARCHAR"/>
		<result property="length" column="length" jdbcType="NUMERIC"/>
		<result property="wide" column="wide" jdbcType="NUMERIC"/>
		<result property="high" column="high" jdbcType="NUMERIC"/>
		<result property="volume" column="volume" jdbcType="NUMERIC"/>
		<result property="roughWeight" column="roughWeight" jdbcType="NUMERIC"/>
		<result property="cartonBarcode" column="cartonBarcode" jdbcType="VARCHAR"/>
		<result property="smallBarcode" column="smallBarcode" jdbcType="VARCHAR"/>
	</resultMap>
	<insert id="create" parameterType="com.winway.scm.model.ScmZsjAchage">
		INSERT INTO Scm_Zsj_Achange
		(id,productId,achage,productCode,code,isDelete,productNum,length,wide,
		high,volume,roughWeight,
		cartonBarcode,smallBarcode)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{achage,jdbcType=VARCHAR},
		#{productCode,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{isDelete,jdbcType=VARCHAR},#{productNum,jdbcType=VARCHAR},#{length,jdbcType=NUMERIC}, #{wide,jdbcType=NUMERIC},
		#{high,jdbcType=NUMERIC}, #{volume,jdbcType=NUMERIC}, #{roughWeight,jdbcType=NUMERIC},
		#{cartonBarcode,jdbcType=VARCHAR}, #{smallBarcode,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZsjAchage">
		SELECT * FROM Scm_Zsj_Achange
		WHERE 
		id=#{id}
	</select>
	
	<select id="getByMainId"   parameterType="java.lang.String" resultMap="ScmZsjAchage">
		SELECT * FROM Scm_Zsj_Achange
		WHERE 
		productId=#{arg0}
		and isDelete = 1
	</select>
	
	<select id="getAllByMainId"   parameterType="java.lang.String" resultMap="ScmZsjAchage">
		SELECT * FROM Scm_Zsj_Achange
		WHERE 
		productId=#{arg0}
	</select>
	
	<select id="getByachage"   parameterType="java.lang.String" resultMap="ScmZsjAchage">
		SELECT * FROM Scm_Zsj_Achange
		WHERE 
		productId=#{arg1} AND achage=#{arg0} and isDelete = 1
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZsjAchage">
		SELECT a.* FROM (			
    		SELECT a.id,a.productid,a.achage,a.productCode,a.code,a.productNum,
    		length,wide,high,volume,roughWeight,cartonBarcode,smallBarcode 
    		FROM scm_zsj_achange a WHERE a.isDelete = 1) a
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	<select id="getByCode" resultType="com.winway.scm.model.ScmZsjAchage">
		SELECT * FROM Scm_Zsj_Achange
		WHERE
		code=#{arg0}
	</select>

	<update id="update" parameterType="com.winway.scm.model.ScmZsjAchage">
		UPDATE Scm_Zsj_Achange SET
		productId=#{productId,jdbcType=VARCHAR},
		achage=#{achage,jdbcType=VARCHAR},
		productCode = #{productCode,jdbcType=VARCHAR},
		code = #{code,jdbcType=VARCHAR},
		isDelete = #{isDelete,jdbcType=VARCHAR},
		productNum = #{productNum,jdbcType=VARCHAR},
		length=#{length,jdbcType=NUMERIC},
		wide=#{wide,jdbcType=NUMERIC},
		high=#{high,jdbcType=NUMERIC},
		volume=#{volume,jdbcType=NUMERIC},
		roughWeight=#{roughWeight,jdbcType=NUMERIC},
		cartonBarcode=#{cartonBarcode,jdbcType=VARCHAR},
		smallBarcode=#{smallBarcode,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM Scm_Zsj_Achange 
		WHERE
		id=#{id}
	</delete>
</mapper>	
	