<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZsjCommerceDao">
	<resultMap id="ScmZsjCommerce" type="com.winway.scm.model.ScmZsjCommerce">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="commerceName" column="commerceName" jdbcType="VARCHAR"/>
		<result property="fileCode" column="fileCode" jdbcType="VARCHAR"/>
		<result property="commerceState" column="commerceState" jdbcType="VARCHAR"/>
		<result property="commerceCode" column="commerceCode" jdbcType="VARCHAR"/>
		<result property="conpanyPersion" column="conpanyPersion" jdbcType="VARCHAR"/>
		<result property="contactPersion" column="contactPersion" jdbcType="VARCHAR"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="openBank" column="openBank" jdbcType="VARCHAR"/>
		<result property="bankCode" column="bankCode" jdbcType="VARCHAR"/>
		<result property="dutyParagraph" column="dutyParagraph" jdbcType="VARCHAR"/>
		<result property="businessDivisionId" column="businessDivisionId" jdbcType="VARCHAR"/>
		<result property="businessDivision" column="businessDivision" jdbcType="VARCHAR"/>
		<result property="provinceId" column="provinceId" jdbcType="VARCHAR"/>
		<result property="province" column="province" jdbcType="VARCHAR"/>
		<result property="qualityValidity" column="qualityValidity" jdbcType="TIMESTAMP"/>
		<result property="registerAddress" column="registerAddress" jdbcType="VARCHAR"/>
		<result property="sealStyle" column="sealStyle" jdbcType="VARCHAR"/>
		<result property="billsStyle" column="billsStyle" jdbcType="VARCHAR"/>
		<result property="enterPersion" column="enterPersion" jdbcType="VARCHAR"/>
		<result property="enterDate" column="enterDate" jdbcType="TIMESTAMP"/>
		<result property="commerceLevel" column="commerceLevel" jdbcType="VARCHAR"/>
		<result property="functionType" column="functionType" jdbcType="VARCHAR"/>	
		<result property="acceptStateStr" column="acceptStateStr" jdbcType="VARCHAR"/>
		<result property="acceptState" column="acceptState" jdbcType="VARCHAR"/>
		<result property="commerceStateStr" column="commerceStateStr" jdbcType="VARCHAR"/>
		<result property="legalPersion" column="legalPersion" jdbcType="VARCHAR"/>
		<result property="licenseKey" column="licenseKey" jdbcType="VARCHAR"/>
		<result property="validity" column="validity" jdbcType="TIMESTAMP"/>
		<result property="register" column="register" jdbcType="VARCHAR"/>
		<result property="licenseValidity" column="licenseValidity" jdbcType="TIMESTAMP"/>
		<result property="registerPrice" column="registerPrice" jdbcType="VARCHAR"/>
		<result property="managementScope" column="managementScope" jdbcType="VARCHAR"/>
		<result property="commerceNameStr" column="commerceNameStr" jdbcType="VARCHAR"/>
		<result property="dutyOfficer" column="dutyOfficer" jdbcType="VARCHAR"/>
		<result property="commerceNameStr" column="commerceNameStr" jdbcType="VARCHAR"/>
		<result property="acceptStateId" column="acceptStateId" jdbcType="VARCHAR"/>
		<result property="effectiveDate" column="effectiveDate" jdbcType="VARCHAR"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
		<result property="acceptId" column="acceptId" jdbcType="VARCHAR"/>
		<result property="approvalId" column="approvalId" jdbcType="VARCHAR"/>
		<result property="approvalState" column="approvalState" jdbcType="VARCHAR"/>
		<result property="approvalStateStr" column="approvalStateStr" jdbcType="VARCHAR"/>
		<result property="ownerId" column="ownerId" jdbcType="VARCHAR"/>
		<result property="operatorName" column="operatorName" jdbcType="VARCHAR"/>
		<result property="commerceFirstId" column="commerceFirstId" jdbcType="VARCHAR"/>
		<result property="operatorDate" column="operatorDate" jdbcType="TIMESTAMP"/>
		<result property="type" column="type" jdbcType="VARCHAR"/>	
		<result property="commerceId" column="commerceId" jdbcType="VARCHAR"/>
		<result property="actualLevel" column="actualLevel" jdbcType="VARCHAR"/>		
		<result property="isToMasterData" column="isToMasterData" jdbcType="VARCHAR"/>		
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZsjCommerce">
		INSERT INTO SCM_ZSJ_Commerce
		(id,commerceName,fileCode,
		commerceState,commerceCode,conpanyPersion,
		openBank,bankCode,dutyParagraph,
		businessDivisionId,businessDivision,provinceId,
		province,registerAddress,enterPersion,
		enterDate,commerceLevel,functionType,
		approvalId,approvalState,isToMasterData)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{commerceName,jdbcType=VARCHAR}, #{fileCode,jdbcType=VARCHAR},
		#{commerceState,jdbcType=VARCHAR},#{commerceCode,jdbcType=VARCHAR}, #{conpanyPersion,jdbcType=VARCHAR}, 
		#{openBank,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, #{dutyParagraph,jdbcType=VARCHAR}, 
		#{businessDivisionId,jdbcType=VARCHAR}, #{businessDivision,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, 
		#{province,jdbcType=VARCHAR}, #{registerAddress,jdbcType=VARCHAR},#{enterPersion,jdbcType=VARCHAR}, 
		now(),#{commerceLevel,jdbcType=VARCHAR},#{functionType,jdbcType=VARCHAR},
		#{approvalId,jdbcType=VARCHAR},#{approvalState,jdbcType=VARCHAR},#{isToMasterData,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce 
		WHERE 
		id=#{id}
	</select>
	
	<select id="getCommerceCode"   parameterType="java.lang.String" resultType="java.lang.String">
		SELECT NEXTVAL('commerceCode') AS productCode
	</select>
	
	<select id="getcommerceByCode"   parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce 
		WHERE 
		commerceCode=#{arg0}
	</select>
	
	<select id="getByApprovalId" parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce 
		WHERE 
		approvalId=#{arg0}
	</select>
	
	<select id="getByMainId"   parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce 
		WHERE 
		id=#{id}
	</select>
	<select id="getCommerceName">
		SELECT commerceName FROM SCM_ZSJ_Commerce
	</select>

	<select id="getByName"   parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce 
		WHERE 
		commerceName=#{commerceName}
	</select>
	
	<select id="getByNameOrId"   parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce 
		WHERE 
		<if test="id!=null">
			id!=#{id} and
		</if>
		commerceName=#{commerceName}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM SCM_ZSJ_Commerce
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<select id="firstList" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM v_CommerceFirstList
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<select id="acceptCommerceList" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM(
			SELECT 
				a.id AS commerceId,a.commerceName,a.fileCode,
				a.commerceState,a.commerceCode,a.conpanyPersion,
				a.openBank,a.bankCode,a.dutyParagraph,
				a.businessDivisionId,a.businessDivision,a.provinceId,
				a.province,a.registerAddress,a.enterPersion,
				a.enterDate,a.commerceLevel,a.functionType,
				a.approvalId,a.approvalState,b.ownerId,
				(CASE `c`.`acceptState` WHEN '0' THEN '认可' WHEN '1' THEN '考察中' WHEN '2' THEN '终止' ELSE '未处理' END) AS `acceptStateStr`
			FROM scm_zsj_commerce a
			LEFT JOIN scm_zsj_commercefirst b ON a.id = b.commerceId
			LEFT JOIN scm_zsj_commerceacceptstate c ON a.id = c.commerceId AND c.isEffect = 1
			LEFT JOIN scm_zsj_commerceacceptstateagther d ON c.agtherId = d.id AND d.approvalState = 2
			WHERE a.approvalState = 2 AND (b.approvalState = 2 OR a.commerceLevel = '分销商')
			) a
		<where>
			(ownerId = #{arg0} or commerceLevel = '分销商')
			<if test="arg1!=null">
			 	and businessDivisionId = #{arg1}
			</if>
			<if test="arg2!=null">
				and provinceId = #{arg2}
			</if>
		</where>
	</select>
	
	
	<select id="agreementSendApplySuccessList" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM v_agreementSendApplySuccess
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZsjCommerce">
		UPDATE SCM_ZSJ_Commerce SET
		commerceName=#{commerceName,jdbcType=VARCHAR},
		fileCode=#{fileCode,jdbcType=VARCHAR},
		commerceState=#{commerceState,jdbcType=VARCHAR},
		commerceCode=#{commerceCode,jdbcType=VARCHAR},
		conpanyPersion=#{conpanyPersion,jdbcType=VARCHAR},
		openBank=#{openBank,jdbcType=VARCHAR},
		bankCode=#{bankCode,jdbcType=VARCHAR},
		dutyParagraph=#{dutyParagraph,jdbcType=VARCHAR},
		businessDivisionId=#{businessDivisionId,jdbcType=VARCHAR},
		businessDivision=#{businessDivision,jdbcType=VARCHAR},
		provinceId=#{provinceId,jdbcType=VARCHAR},
		province=#{province,jdbcType=VARCHAR},
		registerAddress=#{registerAddress,jdbcType=VARCHAR},
		enterPersion=#{enterPersion,jdbcType=VARCHAR},
		enterDate=#{enterDate,jdbcType=TIMESTAMP},
		commerceLevel=#{commerceLevel,jdbcType=VARCHAR},
		functionType=#{functionType,jdbcType=VARCHAR},
		approvalId=#{approvalId,jdbcType=VARCHAR},
		approvalState=#{approvalState,jdbcType=VARCHAR},
		isToMasterData=#{isToMasterData,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM SCM_ZSJ_Commerce 
		WHERE
		id=#{id}
	</delete>
	
	<select id="downBox" parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT a.*,
		CONCAT((CASE WHEN b.id IS NULL THEN '未申请' ELSE '已申请' END),' | ',a.commerceName)
		AS commerceNameStr ,(CASE WHEN b.id  IS NULL THEN 0 ELSE 1 END) AS orderBy
		FROM scm_zsj_commerce a
		LEFT JOIN scm_zsj_commercefirst b  ON b.ownerId = '0102' AND  a.id = b.commerceId
		WHERE a.approvalState = 2 AND commerceLevel = "经销商" ORDER BY orderBy ASC
	</select>

	<select id="downBoxApplySuccess" parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT
		a.*, b.approvalId AS approvalId,
		b.approvalState AS approvalState,
		CONCAT(
		(
		CASE
		WHEN b.id IS NULL THEN
		'未申请'
		ELSE
		'已申请'
		END
		),
		' | ',
		a.commerceName
		) AS commerceNameStr,
		d.lastTimePrice,
		e.lastYearPrice,
		f.beforeYearPrice,
		'0' as sysPrice
		FROM
		scm_zsj_commerce a
		LEFT JOIN (
		SELECT
		*
		FROM
		scm_zsj_commercefirst
		WHERE
		ownerId = "0102"
		) b ON a.id = b.commerceId
		LEFT JOIN (
		SELECT
		MAX(c.id) AS id,
		max(c. YEAR) AS YEAR,
		c.commerceCode,
		max(c.price) AS lastTimePrice,
		e.ownerId
		FROM
		scm_xs_creditapply c
		INNER JOIN scm_zsj_commerce d ON c.commerceCode = d.`commerceCode`
		LEFT JOIN scm_xs_creditcollect e ON c.CreditCollectId = e.id
		GROUP BY
		c.commerceCode,
		e.ownerId
		HAVING
		YEAR = CONCAT(DATE_FORMAT(NOW(), '%Y') - 1)
		) d ON a.commerceCode = d.commerceCode
		AND d.ownerId = b.ownerId
		LEFT JOIN (
		SELECT
		a.ownerId,
		ROUND(sum(b.priceSum) / 120000)AS "lastYearPrice",
		b.commerceId,
		DATE_FORMAT(b.shipmentsAffirmDate, '%Y') as shipYear

		FROM
		scm_fh_shipmentsdatailmaster a
		INNER JOIN scm_fh_shipmentsdatail b ON b.masterId = a.id
		GROUP BY
		b.commerceId,
		ownerId,
		DATE_FORMAT(b.shipmentsAffirmDate, '%Y')
		HAVING
		shipYear = DATE_FORMAT(NOW(), '%Y') - 1
		) e on e.ownerId = b.ownerId and a.id = e.commerceId

		LEFT JOIN (
		SELECT
		a.ownerId,
		ROUND(sum(b.priceSum) / 120000)AS "beforeYearPrice",
		b.commerceId,
		DATE_FORMAT(b.shipmentsAffirmDate, '%Y') as shipYear

		FROM
		scm_fh_shipmentsdatailmaster a
		INNER JOIN scm_fh_shipmentsdatail b ON b.masterId = a.id
		GROUP BY
		b.commerceId,
		ownerId,
		DATE_FORMAT(b.shipmentsAffirmDate, '%Y')
		HAVING
		shipYear = DATE_FORMAT(NOW(), '%Y') - 2
		) f on f.ownerId = b.ownerId and a.id = f.commerceId

		WHERE
		b.approvalState = 2 and a.commerceLevel = '经销商'
		<if test="businessDivisionId != null and businessDivisionId !=''">
			and businessDivisionId = #{businessDivisionId}
		</if>
	</select>



	<select id="listCommerceAcceptState" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM V_CommerceAcceptState
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<select id="listCommerceAcceptApprova" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM V_CommerceAcceptState
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<select id="listCommerceAcceptTS" parameterType="java.util.Map" resultMap="ScmZsjCommerce">
		SELECT * FROM V_CommerceAcceptState
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	<select id="findByOwnerId" parameterType="java.lang.String" resultMap="ScmZsjCommerce">
		SELECT
			a.* 
		FROM
			scm_zsj_commerce a 
		WHERE
		 a.id IN ( SELECT b.commerceId FROM scm_zsj_commercefirst b WHERE b.ownerId = #{arg0} )
	</select>
	<select id="getcommerceFirstByCode" resultType="com.winway.scm.model.ScmZsjCommerce">
			SELECT * FROM v_CommerceFirstList
			where commerceCode = #{arg0} and ownerID = #{arg1}
	</select>
    <select id="getcommerceByName" resultType="com.winway.scm.model.ScmZsjCommerce">
		select *  FROM SCM_ZSJ_Commerce
		WHERE
		commerceName=#{commerceName}
	</select>
</mapper>