<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmCgGodownentryMasterDao">
	<resultMap id="ScmCgGodownentryMaster" type="com.winway.scm.model.ScmCgGodownentryMaster">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="billno" column="billno" jdbcType="VARCHAR"/>
		<result property="vendorcode" column="vendorcode" jdbcType="VARCHAR"/>
		<result property="totpcs" column="totpcs" jdbcType="VARCHAR"/>
		<result property="totamt" column="totamt" jdbcType="VARCHAR"/>
		<result property="arrivedate" column="arrivedate" jdbcType="VARCHAR"/>
		<result property="rcvoperator" column="rcvoperator" jdbcType="VARCHAR"/>
		<result property="branchcode" column="branchcode" jdbcType="VARCHAR"/>
		<result property="remark" column="remark" jdbcType="VARCHAR"/>
		<result property="status" column="status" jdbcType="VARCHAR"/>
		<result property="billid" column="billid" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmCgGodownentryMaster">
		INSERT INTO scm_cg_godownentrymaster
		(id,billno,vendorcode,totpcs,totamt,arrivedate,rcvoperator,branchcode,remark,status,billid)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{billno,jdbcType=VARCHAR}, #{vendorcode,jdbcType=VARCHAR}, 
		#{totpcs,jdbcType=VARCHAR}, #{totamt,jdbcType=VARCHAR}, #{arrivedate,jdbcType=VARCHAR}, 
		#{rcvoperator,jdbcType=VARCHAR}, #{branchcode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
		#{status,jdbcType=VARCHAR},#{billid,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmCgGodownentryMaster">
		SELECT * FROM scm_cg_godownentrymaster 
		WHERE 
		id=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmCgGodownentryMaster">
		SELECT * FROM scm_cg_godownentrymaster
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmCgGodownentryMaster">
		UPDATE scm_cg_godownentrymaster SET
		billno=#{billno,jdbcType=VARCHAR},
		vendorcode=#{vendorcode,jdbcType=VARCHAR},
		totpcs=#{totpcs,jdbcType=VARCHAR},
		totamt=#{totamt,jdbcType=VARCHAR},
		arrivedate=#{arrivedate,jdbcType=VARCHAR},
		rcvoperator=#{rcvoperator,jdbcType=VARCHAR},
		branchcode=#{branchcode,jdbcType=VARCHAR},
		remark=#{remark,jdbcType=VARCHAR},
		status=#{status,jdbcType=VARCHAR},
		billid=#{billid,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_cg_godownentrymaster 
		WHERE
		id=#{id}
	</delete>
	
	
</mapper>