<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmCommercePlaceRateDao">
	<resultMap id="ScmCommercePlaceRate" type="com.winway.scm.model.ScmCommercePlaceRate">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="year" column="year" jdbcType="NUMERIC"/>
		<result property="businessDivisionCode" column="business_division_code" jdbcType="VARCHAR"/>
		<result property="businessDivisionName" column="business_division_name" jdbcType="VARCHAR"/>
		<result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
		<result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
		<result property="prodCatCode" column="prod_cat_code" jdbcType="VARCHAR"/>
		<result property="prodCatName" column="prod_cat_name" jdbcType="VARCHAR"/>
		<result property="prodCode" column="prod_code" jdbcType="VARCHAR"/>
		<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
		<result property="commerceProfitRate" column="commerce_profit_rate" jdbcType="NUMERIC"/>
		<result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="createName" column="CREATE_NAME" jdbcType="VARCHAR"/>
		<result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="updateName" column="UPDATE_NAME" jdbcType="VARCHAR"/>
		<result property="createOrgId" column="CREATE_ORG_ID" jdbcType="VARCHAR"/>
		<result property="createOrgName" column="CREATE_ORG_NAME" jdbcType="VARCHAR"/>
		<result property="COMPANY" column="COMPANY" jdbcType="VARCHAR"/>
		<result property="commercePreProfitRate" column="commerce_pre_profit_rate" jdbcType="NUMERIC"/>
		<result property="remarks" column="remarks" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmCommercePlaceRate">
		INSERT INTO scm_commerce_place_rate
		(id,year,business_division_code,business_division_name,province_code,province_name,prod_cat_code,prod_cat_name,prod_code,prod_name,commerce_profit_rate,CREATE_BY,CREATE_TIME,CREATE_NAME,UPDATE_BY,UPDATE_TIME,UPDATE_NAME,CREATE_ORG_ID,CREATE_ORG_NAME,COMPANY,commerce_pre_profit_rate,remarks)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{year,jdbcType=NUMERIC}, #{businessDivisionCode,jdbcType=VARCHAR}, #{businessDivisionName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, #{prodCatCode,jdbcType=VARCHAR}, #{prodCatName,jdbcType=VARCHAR}, #{prodCode,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{commerceProfitRate,jdbcType=NUMERIC}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}, #{createOrgId,jdbcType=VARCHAR}, #{createOrgName,jdbcType=VARCHAR}, #{COMPANY,jdbcType=VARCHAR}, #{commercePreProfitRate,jdbcType=NUMERIC}, #{remarks,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmCommercePlaceRate">
		SELECT * FROM scm_commerce_place_rate 
		WHERE 
		id=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmCommercePlaceRate">
		SELECT * FROM scm_commerce_place_rate
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmCommercePlaceRate">
		UPDATE scm_commerce_place_rate SET
		year=#{year,jdbcType=NUMERIC},
		business_division_code=#{businessDivisionCode,jdbcType=VARCHAR},
		business_division_name=#{businessDivisionName,jdbcType=VARCHAR},
		province_code=#{provinceCode,jdbcType=VARCHAR},
		province_name=#{provinceName,jdbcType=VARCHAR},
		prod_cat_code=#{prodCatCode,jdbcType=VARCHAR},
		prod_cat_name=#{prodCatName,jdbcType=VARCHAR},
		prod_code=#{prodCode,jdbcType=VARCHAR},
		prod_name=#{prodName,jdbcType=VARCHAR},
		commerce_profit_rate=#{commerceProfitRate,jdbcType=NUMERIC},
		CREATE_BY=#{createBy,jdbcType=VARCHAR},
		CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
		CREATE_NAME=#{createName,jdbcType=VARCHAR},
		UPDATE_BY=#{updateBy,jdbcType=VARCHAR},
		UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
		UPDATE_NAME=#{updateName,jdbcType=VARCHAR},
		CREATE_ORG_ID=#{createOrgId,jdbcType=VARCHAR},
		CREATE_ORG_NAME=#{createOrgName,jdbcType=VARCHAR},
		COMPANY=#{COMPANY,jdbcType=VARCHAR},
		commerce_pre_profit_rate=#{commercePreProfitRate,jdbcType=NUMERIC},
		remarks=#{remarks,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_commerce_place_rate 
		WHERE
		id=#{id}
	</delete>
	
	<select id="getScmCommerce" resultMap="ScmCommercePlaceRate">
	    SELECT  *  FROM     scm_commerce_place_rate  WHERE  province_code=#{param1}  AND   prod_code=#{param2}
	</select>
	
	
	<select   id="getScmCommerceAvg"  resultType="java.lang.Double">
	     SELECT AVG(commerce_profit_rate)   FROM scm_commerce_place_rate  WHERE  province_code=#{param1}
	</select>
	
	
</mapper>