<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmTenderPriceRangeDao">
	<resultMap id="ScmTenderPriceRange" type="com.winway.scm.model.ScmTenderPriceRange">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="year" column="year" jdbcType="NUMERIC"/>
		<result property="prodOwner" column="prod_owner" jdbcType="VARCHAR"/>
		<result property="prodCatCode" column="prod_cat_code" jdbcType="VARCHAR"/>
		<result property="prodCatName" column="prod_cat_name" jdbcType="VARCHAR"/>
		<result property="prodCode" column="prod_code" jdbcType="VARCHAR"/>
		<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
		<result property="priceMax" column="price_max" jdbcType="NUMERIC"/>
		<result property="priceMin" column="price_min" jdbcType="NUMERIC"/>
		<result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="createName" column="CREATE_NAME" jdbcType="VARCHAR"/>
		<result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="updateName" column="UPDATE_NAME" jdbcType="VARCHAR"/>
		<result property="createOrgId" column="CREATE_ORG_ID" jdbcType="VARCHAR"/>
		<result property="createOrgName" column="CREATE_ORG_NAME" jdbcType="VARCHAR"/>
		<result property="COMPANY" column="COMPANY" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmTenderPriceRange">
		INSERT INTO scm_tender_price_range
		(id,year,prod_owner,prod_cat_code,prod_cat_name,prod_code,prod_name,price_max,price_min,CREATE_BY,CREATE_TIME,CREATE_NAME,UPDATE_BY,UPDATE_TIME,UPDATE_NAME,CREATE_ORG_ID,CREATE_ORG_NAME,COMPANY)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{year,jdbcType=NUMERIC}, #{prodOwner,jdbcType=VARCHAR}, #{prodCatCode,jdbcType=VARCHAR}, #{prodCatName,jdbcType=VARCHAR}, #{prodCode,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{priceMax,jdbcType=NUMERIC}, #{priceMin,jdbcType=NUMERIC}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}, #{createOrgId,jdbcType=VARCHAR}, #{createOrgName,jdbcType=VARCHAR}, #{COMPANY,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmTenderPriceRange">
		SELECT * FROM scm_tender_price_range 
		WHERE 
		id=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmTenderPriceRange">
		SELECT * FROM scm_tender_price_range
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmTenderPriceRange">
		UPDATE scm_tender_price_range SET
		year=#{year,jdbcType=NUMERIC},
		prod_owner=#{prodOwner,jdbcType=VARCHAR},
		prod_cat_code=#{prodCatCode,jdbcType=VARCHAR},
		prod_cat_name=#{prodCatName,jdbcType=VARCHAR},
		prod_code=#{prodCode,jdbcType=VARCHAR},
		prod_name=#{prodName,jdbcType=VARCHAR},
		price_max=#{priceMax,jdbcType=NUMERIC},
		price_min=#{priceMin,jdbcType=NUMERIC},
		CREATE_BY=#{createBy,jdbcType=VARCHAR},
		CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
		CREATE_NAME=#{createName,jdbcType=VARCHAR},
		UPDATE_BY=#{updateBy,jdbcType=VARCHAR},
		UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
		UPDATE_NAME=#{updateName,jdbcType=VARCHAR},
		CREATE_ORG_ID=#{createOrgId,jdbcType=VARCHAR},
		CREATE_ORG_NAME=#{createOrgName,jdbcType=VARCHAR},
		COMPANY=#{COMPANY,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_tender_price_range 
		WHERE
		id=#{id}
	</delete>
	
	
</mapper>