<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmXsDistributorClauseDao">
    <resultMap id="ScmXsDistributorClause" type="com.winway.scm.model.ScmXsDistributorClause">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="commerceId" column="commerceId" jdbcType="VARCHAR"/>
        <result property="clauseCode" column="clauseCode" jdbcType="VARCHAR"/>
        <result property="commerceName" column="commerceName" jdbcType="VARCHAR"/>
        <result property="commerceLevel" column="commerceLevel" jdbcType="VARCHAR"/>
        <result property="functionType" column="functionType" jdbcType="VARCHAR"/>
        <result property="isSubsidiary" column="isSubsidiary" jdbcType="VARCHAR"/>
        <result property="starLevel" column="starLevel" jdbcType="VARCHAR"/>
        <result property="messageCost" column="messageCost" jdbcType="NUMERIC"/>
        <result property="isPromotional" column="isPromotional" jdbcType="VARCHAR"/>
        <result property="startDate" column="startDate" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="endDate" jdbcType="TIMESTAMP"/>
        <result property="provincePlatformId" column="provincePlatformId" jdbcType="VARCHAR"/>
        <result property="upCommerceId" column="upCommerceId" jdbcType="VARCHAR"/>
        <result property="memo" column="memo" jdbcType="VARCHAR"/>
        <result property="distributorAgreementId" column="distributorAgreementId" jdbcType="VARCHAR"/>
        <result property="businessDivision" column="businessDivision" jdbcType="VARCHAR"/>
        <result property="businessDivisionId" column="businessDivisionId" jdbcType="VARCHAR"/>
        <result property="provinceId" column="provinceId" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="approvalId" column="approvalId" jdbcType="VARCHAR"/>
        <result property="approvalState" column="approvalState" jdbcType="VARCHAR"/>
        <result property="ownerId" column="ownerId" jdbcType="VARCHAR"/>
        <result property="agreementSummaryCode" column="agreementSummaryCode" jdbcType="VARCHAR"/>
        <result property="approvalStateStr" column="approvalStateStr" jdbcType="VARCHAR"/>
        <result property="commerceCode" column="commerceCode" jdbcType="VARCHAR"/>
        <result property="scm_zsj_commerceState" column="scm_zsj_commerceState" jdbcType="VARCHAR"/>
        <result property="integral" column="integral" jdbcType="NUMERIC"/>
        <result property="year" column="year" jdbcType="VARCHAR"/>
        <result property="startYear" column="startYear" jdbcType="VARCHAR"/>
        <result property="endYear" column="endYear" jdbcType="VARCHAR"/>
        <!--<result property="commerceFirstId" column="commerceFirstId" jdbcType="VARCHAR"/>-->
    </resultMap>

    <insert id="create" parameterType="com.winway.scm.model.ScmXsDistributorClause">
		INSERT INTO SCM_XS_DistributorClause
		(id,commerceId,
		clauseCode,commerceName,
		commerceLevel,functionType,
		isSubsidiary,starLevel,
		messageCost,isPromotional,
		startDate,endDate,
		provincePlatformId,upCommerceId,
		memo,distributorAgreementId,startYear,endYear,integral)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{commerceId,jdbcType=VARCHAR},
		 #{clauseCode,jdbcType=VARCHAR}, #{commerceName,jdbcType=VARCHAR}, 
		 #{commerceLevel,jdbcType=VARCHAR}, #{functionType,jdbcType=VARCHAR}, 
		 #{isSubsidiary,jdbcType=VARCHAR}, #{starLevel,jdbcType=VARCHAR}, 
		 #{messageCost,jdbcType=NUMERIC}, #{isPromotional,jdbcType=VARCHAR}, 
		 #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
		 #{provincePlatformId,jdbcType=VARCHAR}, #{upCommerceId,jdbcType=VARCHAR}, 
		 #{memo,jdbcType=VARCHAR}, #{distributorAgreementId,jdbcType=VARCHAR},
		 #{startYear,jdbcType=VARCHAR},#{endYear,jdbcType=VARCHAR},#{integral,jdbcType=NUMERIC})
	</insert>

    <select id="get" parameterType="java.lang.String" resultMap="ScmXsDistributorClause">
		SELECT * FROM SCM_XS_DistributorClause 
		WHERE 
		id=#{id}
	</select>

    <select id="findByStartYearAndEndYear" parameterType="java.lang.String" resultMap="ScmXsDistributorClause">
		SELECT * FROM SCM_XS_DistributorClause 
		WHERE 
		(startYear &lt;= #{arg0} AND startYear &gt;= #{arg1}) 
		OR
		(endYear &gt;= #{arg0} AND endYear &lt;= #{arg1})
		and commerceId = #{arg2}
	</select>

    <select id="getByMainId" parameterType="java.lang.String" resultMap="ScmXsDistributorClause">
		SELECT * FROM v_distributorFirstList
		WHERE 
		DistributorAgreementId=#{arg0}
	</select>

    <select id="query" parameterType="java.util.Map" resultMap="ScmXsDistributorClause">
        SELECT * FROM SCM_XS_DistributorClause
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY id DESC
        </if>
    </select>

    <select id="firstList" parameterType="java.util.Map" resultMap="ScmXsDistributorClause">
        SELECT * FROM v_distributorFirstList
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY id DESC
        </if>
    </select>

    <update id="update" parameterType="com.winway.scm.model.ScmXsDistributorClause">
		UPDATE SCM_XS_DistributorClause SET
		commerceId=#{commerceId,jdbcType=VARCHAR},
		clauseCode=#{clauseCode,jdbcType=VARCHAR},
		commerceName=#{commerceName,jdbcType=VARCHAR},
		commerceLevel=#{commerceLevel,jdbcType=VARCHAR},
		functionType=#{functionType,jdbcType=VARCHAR},
		isSubsidiary=#{isSubsidiary,jdbcType=VARCHAR},
		starLevel=#{starLevel,jdbcType=VARCHAR},
		messageCost=#{messageCost,jdbcType=NUMERIC},
		integral=#{integral,jdbcType=NUMERIC},
		isPromotional=#{isPromotional,jdbcType=VARCHAR},
		startDate=#{startDate,jdbcType=TIMESTAMP},
		endDate=#{endDate,jdbcType=TIMESTAMP},
		provincePlatformId=#{provincePlatformId,jdbcType=VARCHAR},
		upCommerceId=#{upCommerceId,jdbcType=VARCHAR},
		memo=#{memo,jdbcType=VARCHAR},
		distributorAgreementId=#{distributorAgreementId,jdbcType=VARCHAR},
		startYear=#{startYear,jdbcType=VARCHAR},
		endYear=#{endYear,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>

    <delete id="remove" parameterType="java.lang.String">
		DELETE FROM SCM_XS_DistributorClause 
		WHERE
		id=#{id}
	</delete>

    <select id="getYears" parameterType="java.lang.String" resultMap="ScmXsDistributorClause">
		SELECT c.YEAR 
		FROM 
			(SELECT DATE_FORMAT(startDate, '%Y') AS YEAR,b.ownerid FROM scm_xs_distributorclause a
				LEFT JOIN scm_xs_distributoragreementsummary b
				ON a.DistributorAgreementId = b.id) c
		WHERE c.ownerid = #{arg0} AND c.YEAR IS NOT NULL GROUP BY c.year
	</select>
    <delete id="delByMainId">
	    DELETE FROM SCM_XS_DistributorClause
	    WHERE
	    DistributorAgreementId=#{DistributorAgreementId}
	</delete>

    <select id="getScmXsDistributorClauseList" resultMap="ScmXsDistributorClause">
	    SELECT *
	    FROM SCM_XS_DistributorClause 
	    WHERE DistributorAgreementId=#{DistributorAgreementId}
	</select>
    <select id="commerceAndAcceptState" parameterType="java.util.Map" resultMap="ScmXsDistributorClause">
        SELECT * FROM v_distributorAcceptstate
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY id DESC
        </if>
    </select>
    <select id="list1" resultType="com.winway.scm.model.ScmXsDistributorClause">
        select * from ( SELECT
        a.commerceCode,a.commerceName,a.businessDivision,a.businessDivisionId, p.`code` as provinceCode, u.`code` as
        businessCode ,a.province,a.provinceId,a.registerAddress,DATE_FORMAT(b.startDate, '%Y') as startYear,
        (
        CASE
        WHEN isnull(b.distributorclauseId) THEN
        '未签约'
        ELSE
        '签约'
        END
        ) AS `isSign`,
        c.acceptState,
        (
        CASE c.acceptState
        WHEN '0' THEN
        '认可'
        WHEN '1' THEN
        '考察中'
        WHEN '2' THEN
        '终止'
        ELSE
        '未处理'
        END
        ) AS `acceptStateStr`
        FROM
        scm_zsj_commerce a LEFT JOIN scm_zd_province p on a.provinceId = p.id LEFT JOIN scm_zd_businessdivision u on
        u.id = a.businessDivisionId
        LEFT JOIN (
        SELECT
        MAX(DATE(startDate)) AS startDate,
        f.id AS distributorclauseId,
        f.commerceId,
        e.approvalState
        FROM
        scm_xs_distributoragreementsummary e
        INNER JOIN scm_xs_distributorclause f ON f.DistributorAgreementId = e.id
        GROUP BY
        distributorclauseId,f.commerceId,e.approvalState
        having approvalState='2'
        ) b on a.id = b.commerceId LEFT JOIN (SELECT
        b.acceptState,
        b.commerceId
        FROM
        scm_zsj_commerceacceptstate b
        INNER JOIN scm_zsj_commerceacceptstateagther c ON b.agtherId = c.id and c.approvalState='2') c on a.id =
        c.commerceId where a.commerceLevel = '分销商' and a.approvalState='2') a
        <where>

            <if test="businessCode !='' and  businessCode!=null">
                and businessCode =#{businessCode}
            </if>

            <if test="acceptState !='' and  acceptState!=null">
                and acceptState =#{acceptState}
            </if>
            <if test="provinceCode !='' and  provinceCode!=null">
                and provinceCode =#{provinceCode}
            </if>
            <if test="commerceCode!='' and  commerceCode!=null">
                and commerceCode =#{commerceCode}
            </if>
            <if test="commerceName !='' and  commerceName!=null">
                and commerceName like CONCAT('%',CONCAT(#{commerceName},'%'))
            </if>
        </where>
    </select>
</mapper>