<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZdFunctionTypeDao">
	<resultMap id="ScmZdFunctionType" type="com.winway.scm.model.ScmZdFunctionType">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="commerceLevelId" column="commerceLevelId" jdbcType="VARCHAR"/>
		<result property="functionType" column="functionType" jdbcType="VARCHAR"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
		<result property="createPersion" column="createPersion" jdbcType="VARCHAR"/>
		<result property="createDate" column="createDate" jdbcType="TIMESTAMP"/>
		<result property="code" column="code" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZdFunctionType">
		INSERT INTO scm_zd_functiontype
		(id,commerceLevelId,functionType,memo,createPersion,createDate,code)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{commerceLevelId,jdbcType=VARCHAR}, #{functionType,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createPersion,jdbcType=VARCHAR}, now(), #{code,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZdFunctionType">
		SELECT * FROM scm_zd_functiontype 
		WHERE 
		id=#{id}
	</select>
	
	<select id="getByNameAndCodeOrId"   parameterType="java.lang.String" resultMap="ScmZdFunctionType">
		SELECT * FROM scm_zd_functiontype
		WHERE 
		id!=#{id} and
		(functionType=#{functionType} or code=#{code})
	</select>
	
	<select id="ListScmZdFunctionTypeByLevelId"   parameterType="java.lang.String" resultMap="ScmZdFunctionType">
		SELECT * FROM scm_zd_functiontype 
		WHERE 
		commerceLevelId=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZdFunctionType">
		SELECT * FROM scm_zd_functiontype
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZdFunctionType">
		UPDATE scm_zd_functiontype SET
		commerceLevelId=#{commerceLevelId,jdbcType=VARCHAR},
		functionType=#{functionType,jdbcType=VARCHAR},
		memo=#{memo,jdbcType=VARCHAR},
		createPersion=#{createPersion,jdbcType=VARCHAR},
		createDate=now(),
		code=#{code,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_zd_functiontype 
		WHERE
		id=#{id}
	</delete>
	
	<delete id="delByMainId">
	    DELETE FROM scm_zd_functiontype
	    WHERE
	    commerceLevelId=#{commerceLevelId}
	</delete>    
	
	<select id="getScmZdFunctionTypeList" resultMap="ScmZdFunctionType">
	    SELECT *
	    FROM scm_zd_functiontype 
	    WHERE commerceLevelId=#{commerceLevelId}
	</select>
	
</mapper>