<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZdKeepingConditionDao">
	<resultMap id="ScmZdKeepingCondition" type="com.winway.scm.model.ScmZdKeepingCondition">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="KeepingCondition" column="KeepingCondition" jdbcType="VARCHAR"/>
		<result property="suggestWarehouse" column="suggestWarehouse" jdbcType="VARCHAR"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
		<result property="createPersion" column="createPersion" jdbcType="VARCHAR"/>
		<result property="createDate" column="createDate" jdbcType="TIMESTAMP"/>
		<result property="ownerId" column="ownerId" jdbcType="VARCHAR"/>
		<result property="code" column="code" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZdKeepingCondition">
		INSERT INTO scm_zd_keepingcondition
		(id,KeepingCondition,suggestWarehouse,memo,createPersion,createDate,ownerId,code)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{KeepingCondition,jdbcType=VARCHAR}, #{suggestWarehouse,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createPersion,jdbcType=VARCHAR}, now(),#{ownerId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
	</insert>
	

	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZdKeepingCondition">
		SELECT * FROM scm_zd_keepingcondition 
		WHERE 
		id=#{id}
	</select>
	
	<select id="getByNameAndCodeOrId"   parameterType="java.lang.String" resultMap="ScmZdKeepingCondition">
		SELECT * FROM scm_zd_keepingcondition 
		WHERE 
		<if test="id!=null">
			id!=#{id} and
		</if>
		  ownerId=#{ownerId} and 
		(KeepingCondition=#{KeepingCondition} or code=#{code})
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZdKeepingCondition">
		SELECT * FROM scm_zd_keepingcondition
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZdKeepingCondition">
		UPDATE scm_zd_keepingcondition SET
		KeepingCondition=#{KeepingCondition,jdbcType=VARCHAR},
		suggestWarehouse=#{suggestWarehouse,jdbcType=VARCHAR},
		memo=#{memo,jdbcType=VARCHAR},
		createPersion=#{createPersion,jdbcType=VARCHAR},
		createDate=now(),
		ownerId=#{ownerId,jdbcType=VARCHAR},
		code=#{code,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_zd_keepingcondition 
		WHERE
		id=#{id}
	</delete>
	
	
</mapper>