<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZdMedicineClassifyDao">
	<resultMap id="ScmZdMedicineClassify" type="com.winway.scm.model.ScmZdMedicineClassify">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="medicineClassify" column="medicineClassify" jdbcType="VARCHAR"/>
		<result property="code" column="code" jdbcType="VARCHAR"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
		<result property="createPersion" column="createPersion" jdbcType="VARCHAR"/>
		<result property="createDate" column="createDate" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZdMedicineClassify">
		INSERT INTO scm_zd_medicineclassify
		(id,medicineClassify,code,memo,createPersion,createDate)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{medicineClassify,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createPersion,jdbcType=VARCHAR}, now())
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZdMedicineClassify">
		SELECT * FROM scm_zd_medicineclassify 
		WHERE 
		id=#{id}
	</select>
	
	<select id="getByNameAndCodeOrId"   parameterType="java.lang.String" resultMap="ScmZdMedicineClassify">
		SELECT * FROM scm_zd_medicineclassify 
		WHERE 
		<if test="id!=null">
			id!=#{id} and
		</if>
		(medicineClassify=#{medicineClassify} or code=#{code})
	</select>		
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZdMedicineClassify">
		SELECT * FROM scm_zd_medicineclassify
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZdMedicineClassify">
		UPDATE scm_zd_medicineclassify SET
		medicineClassify=#{medicineClassify,jdbcType=VARCHAR},
		code=#{code,jdbcType=VARCHAR},
		memo=#{memo,jdbcType=VARCHAR},
		createPersion=#{createPersion,jdbcType=VARCHAR},
		createDate=now()
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_zd_medicineclassify 
		WHERE
		id=#{id}
	</delete>
	
	
</mapper>