<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmZdManageMentScopeDao">
	<resultMap id="ScmZdManageMentScope" type="com.winway.scm.model.ScmZdManageMentScope">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="managementScope" column="managementScope" jdbcType="VARCHAR"/>
		<result property="code" column="code" jdbcType="VARCHAR"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
		<result property="createPersion" column="createPersion" jdbcType="VARCHAR"/>
		<result property="createDate" column="createDate" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmZdManageMentScope">
		INSERT INTO scm_zd_managementscope
		(id,managementScope,code,memo,createPersion,createDate)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{managementScope,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createPersion,jdbcType=VARCHAR}, now())
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmZdManageMentScope">
		SELECT * FROM scm_zd_managementscope 
		WHERE 
		id=#{id}
	</select>
	
	<select id="getByNameAndCodeOrId"   parameterType="java.lang.String" resultMap="ScmZdManageMentScope">
		SELECT * FROM scm_zd_managementscope 
		WHERE 
		<if test="id!=null">
			id!=#{id} and
		</if>
		(managementScope=#{managementScope} or code=#{code})
	</select>	
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmZdManageMentScope">
		SELECT * FROM scm_zd_managementscope
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmZdManageMentScope">
		UPDATE scm_zd_managementscope SET
		managementScope=#{managementScope,jdbcType=VARCHAR},
		code=#{code,jdbcType=VARCHAR},
		memo=#{memo,jdbcType=VARCHAR},
		createPersion=#{createPersion,jdbcType=VARCHAR},
		createDate=now()
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_zd_managementscope 
		WHERE
		id=#{id}
	</delete>
	
	
</mapper>