<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmCwDiscountRuleRecordDao">
	<resultMap id="ScmCwDiscountRuleRecord" type="com.winway.scm.model.ScmCwDiscountRuleRecord">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="commerceId" column="commerceId" jdbcType="VARCHAR"/>
		<result property="productId" column="productId" jdbcType="VARCHAR"/>
		<result property="discountNum" column="discountNum" jdbcType="NUMERIC"/>
		<result property="discountid" column="discountid" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmCwDiscountRuleRecord">
		INSERT INTO scm_cw_discountrulerecord
		(id,commerceId,productId,discountNum,discountid)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{commerceId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{discountNum,jdbcType=NUMERIC}, #{discountid,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmCwDiscountRuleRecord">
		SELECT * FROM scm_cw_discountrulerecord
		WHERE
		id=#{id}
	</select>
	
	<select id="getProductCountByDiscountId"   parameterType="java.lang.String" resultType="java.util.Map">
		SELECT COUNT(discountNum) AS discountNum FROM scm_cw_discountrulerecord 
		WHERE discountid = #{arg0} and commerceId = #{arg1} and productId = #{arg2} 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmCwDiscountRuleRecord">
		SELECT * FROM scm_cw_discountrulerecord
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmCwDiscountRuleRecord">
		UPDATE scm_cw_discountrulerecord SET
		commerceId=#{commerceId,jdbcType=VARCHAR},
		productId=#{productId,jdbcType=VARCHAR},
		discountNum=#{discountNum,jdbcType=NUMERIC},
		discountid=#{discountid,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM scm_cw_discountrulerecord 
		WHERE
		id=#{id}
	</delete>

	<select id="getByIdInfo"   parameterType="java.lang.String" resultMap="ScmCwDiscountRuleRecord">
		SELECT * FROM scm_cw_discountrulerecord
		WHERE
		commerceId=#{commerceId} and productId=#{productId} and discountId = #{discountId}
	</select>

	
</mapper>