<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmCwPStorageDiscountDao">
	<resultMap id="ScmCwPStorageDiscount" type="com.winway.scm.model.ScmCwPStorageDiscount">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="masterId" column="masterId" jdbcType="VARCHAR"/>
		<result property="commerceId" column="commerceId" jdbcType="VARCHAR"/>
		<result property="commerceName" column="commerceName" jdbcType="VARCHAR"/>
		<result property="commerceCode" column="commerceCode" jdbcType="VARCHAR"/>
		<result property="storageDiscountPrice" column="storageDiscountPrice" jdbcType="NUMERIC"/>
		<result property="businessDivision" column="businessDivision" jdbcType="VARCHAR"/>
		<result property="businessDivisionId" column="businessDivisionId" jdbcType="VARCHAR"/>
		<result property="province" column="province" jdbcType="VARCHAR"/>
		<result property="provinceId" column="provinceId" jdbcType="VARCHAR"/>
		<result property="discountType" column="discountType" jdbcType="VARCHAR"/>
		<result property="shipmentDate" column="shipmentDate" jdbcType="TIMESTAMP"/>
		<result property="shipmentCode" column="shipmentCode" jdbcType="VARCHAR"/>
		<result property="loseEfficacyDate" column="loseEfficacyDate" jdbcType="TIMESTAMP"/>
		<result property="batchNum" column="batchNum" jdbcType="VARCHAR"/>
		<result property="productName" column="productName" jdbcType="VARCHAR"/>
		<result property="productNum" column="productNum" jdbcType="NUMERIC"/>
		<result property="updateProductNum" column="updateProductNum" jdbcType="NUMERIC"/>
		<result property="unitPrice" column="unitPrice" jdbcType="NUMERIC"/>
		<result property="updateUnitPrice" column="updateUnitPrice" jdbcType="NUMERIC"/>
		<result property="price" column="price" jdbcType="NUMERIC"/>
		<result property="rbRate" column="rbRate" jdbcType="NUMERIC"/>
		<result property="thisCalculationRb" column="thisCalculationRb" jdbcType="NUMERIC"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
		<result property="blendId" column="blendId" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmCwPStorageDiscount">
		INSERT INTO Scm_Cw_PStorageDiscount
		(id,masterId,commerceId,commerceName,commerceCode,storageDiscountPrice,businessDivision,businessDivisionId,province,provinceId,discountType,shipmentDate,shipmentCode,loseEfficacyDate,batchNum,productName,productNum,updateProductNum,unitPrice,updateUnitPrice,price,rbRate,thisCalculationRb,memo,blendId)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{masterId,jdbcType=VARCHAR}, #{commerceId,jdbcType=VARCHAR}, #{commerceName,jdbcType=VARCHAR}, #{commerceCode,jdbcType=VARCHAR}, #{storageDiscountPrice,jdbcType=NUMERIC}, #{businessDivision,jdbcType=VARCHAR}, #{businessDivisionId,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, #{discountType,jdbcType=VARCHAR}, #{shipmentDate,jdbcType=TIMESTAMP}, #{shipmentCode,jdbcType=VARCHAR}, #{loseEfficacyDate,jdbcType=TIMESTAMP}, #{batchNum,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productNum,jdbcType=NUMERIC}, #{updateProductNum,jdbcType=NUMERIC}, #{unitPrice,jdbcType=NUMERIC}, #{updateUnitPrice,jdbcType=NUMERIC}, #{price,jdbcType=NUMERIC}, #{rbRate,jdbcType=NUMERIC}, #{thisCalculationRb,jdbcType=NUMERIC}, #{memo,jdbcType=VARCHAR}, #{blendId,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmCwPStorageDiscount">
		SELECT * FROM Scm_Cw_PStorageDiscount 
		WHERE 
		id=#{id}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmCwPStorageDiscount">
		SELECT * FROM Scm_Cw_PStorageDiscount
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmCwPStorageDiscount">
		UPDATE Scm_Cw_PStorageDiscount SET
		masterId=#{masterId,jdbcType=VARCHAR},
		commerceId=#{commerceId,jdbcType=VARCHAR},
		commerceName=#{commerceName,jdbcType=VARCHAR},
		commerceCode=#{commerceCode,jdbcType=VARCHAR},
		storageDiscountPrice=#{storageDiscountPrice,jdbcType=NUMERIC},
		businessDivision=#{businessDivision,jdbcType=VARCHAR},
		businessDivisionId=#{businessDivisionId,jdbcType=VARCHAR},
		province=#{province,jdbcType=VARCHAR},
		provinceId=#{provinceId,jdbcType=VARCHAR},
		discountType=#{discountType,jdbcType=VARCHAR},
		shipmentDate=#{shipmentDate,jdbcType=TIMESTAMP},
		shipmentCode=#{shipmentCode,jdbcType=VARCHAR},
		loseEfficacyDate=#{loseEfficacyDate,jdbcType=TIMESTAMP},
		batchNum=#{batchNum,jdbcType=VARCHAR},
		productName=#{productName,jdbcType=VARCHAR},
		productNum=#{productNum,jdbcType=NUMERIC},
		updateProductNum=#{updateProductNum,jdbcType=NUMERIC},
		unitPrice=#{unitPrice,jdbcType=NUMERIC},
		updateUnitPrice=#{updateUnitPrice,jdbcType=NUMERIC},
		price=#{price,jdbcType=NUMERIC},
		rbRate=#{rbRate,jdbcType=NUMERIC},
		thisCalculationRb=#{thisCalculationRb,jdbcType=NUMERIC},
		memo=#{memo,jdbcType=VARCHAR},
		blendId=#{blendId,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM Scm_Cw_PStorageDiscount 
		WHERE
		id=#{id}
	</delete>
	
	<delete id="delByMainId">
	    DELETE FROM Scm_Cw_PStorageDiscount
	    WHERE
	    masterId=#{masterId}
	</delete>    
	
	<select id="getByMainId" resultMap="ScmCwPStorageDiscount">
	    SELECT *
	    FROM Scm_Cw_PStorageDiscount 
	    WHERE masterId=#{masterId}
	</select>
	
</mapper>