<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winway.scm.persistence.dao.ScmCwDistributorRebateDao">
	<resultMap id="ScmCwDistributorRebate" type="com.winway.scm.model.ScmCwDistributorRebate">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="masterId" column="masterId" jdbcType="VARCHAR"/>
		<result property="businessDivision" column="businessDivision" jdbcType="VARCHAR"/>
		<result property="province" column="province" jdbcType="VARCHAR"/>
		<result property="businessDivisionId" column="businessDivisionId" jdbcType="VARCHAR"/>
		<result property="provinceId" column="provinceId" jdbcType="VARCHAR"/>
		<result property="commerceName" column="commerceName" jdbcType="VARCHAR"/>
		<result property="commerceCode" column="commerceCode" jdbcType="VARCHAR"/>
		<result property="commerceId" column="commerceId" jdbcType="VARCHAR"/>
		<result property="acceptState" column="acceptState" jdbcType="VARCHAR"/>
		<result property="isSign" column="isSign" jdbcType="VARCHAR"/>
		<result property="promotionMoney" column="promotionMoney" jdbcType="NUMERIC"/>
		<result property="promotionProportion" column="promotionProportion" jdbcType="NUMERIC"/>
		<result property="thisTimeCount" column="thisTimeCount" jdbcType="NUMERIC"/>
		<result property="thisTimeShell" column="thisTimeShell" jdbcType="NUMERIC"/>
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="create" parameterType="com.winway.scm.model.ScmCwDistributorRebate">
		INSERT INTO Scm_Cw_DistributorRebate
		(id,masterId,businessDivision,province,businessDivisionId,provinceId,commerceName,commerceCode,commerceId,acceptState,isSign,promotionMoney,promotionProportion,thisTimeCount,thisTimeShell,memo)
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{masterId,jdbcType=VARCHAR}, #{businessDivision,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{businessDivisionId,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, #{commerceName,jdbcType=VARCHAR}, #{commerceCode,jdbcType=VARCHAR}, #{commerceId,jdbcType=VARCHAR}, #{acceptState,jdbcType=VARCHAR}, #{isSign,jdbcType=VARCHAR}, #{promotionMoney,jdbcType=NUMERIC}, #{promotionProportion,jdbcType=NUMERIC}, #{thisTimeCount,jdbcType=NUMERIC}, #{thisTimeShell,jdbcType=NUMERIC}, #{memo,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.String" resultMap="ScmCwDistributorRebate">
		SELECT * FROM Scm_Cw_DistributorRebate 
		WHERE 
		id=#{id}
	</select>
	<select id="getByMainId"   parameterType="java.lang.String" resultMap="ScmCwDistributorRebate">
		SELECT * FROM Scm_Cw_DistributorRebate 
		WHERE 
		masterId=#{arg0}
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="ScmCwDistributorRebate">
		SELECT * FROM Scm_Cw_DistributorRebate
		<where>
			<if test="whereSql!=null">
				${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY id DESC
		</if>
	</select>
	
	<update id="update" parameterType="com.winway.scm.model.ScmCwDistributorRebate">
		UPDATE Scm_Cw_DistributorRebate SET
		masterId=#{masterId,jdbcType=VARCHAR},
		businessDivision=#{businessDivision,jdbcType=VARCHAR},
		province=#{province,jdbcType=VARCHAR},
		businessDivisionId=#{businessDivisionId,jdbcType=VARCHAR},
		provinceId=#{provinceId,jdbcType=VARCHAR},
		commerceName=#{commerceName,jdbcType=VARCHAR},
		commerceCode=#{commerceCode,jdbcType=VARCHAR},
		commerceId=#{commerceId,jdbcType=VARCHAR},
		acceptState=#{acceptState,jdbcType=VARCHAR},
		isSign=#{isSign,jdbcType=VARCHAR},
		promotionMoney=#{promotionMoney,jdbcType=NUMERIC},
		promotionProportion=#{promotionProportion,jdbcType=NUMERIC},
		thisTimeCount=#{thisTimeCount,jdbcType=NUMERIC},
		thisTimeShell=#{thisTimeShell,jdbcType=NUMERIC},
		memo=#{memo,jdbcType=VARCHAR}
		WHERE
		id=#{id}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		DELETE FROM Scm_Cw_DistributorRebate 
		WHERE
		id=#{id}
	</delete>
	
	<delete id="delByMainId">
	    DELETE FROM Scm_Cw_DistributorRebate
	    WHERE
	    masterId=#{masterId}
	</delete>    
	
	<select id="getScmCwDistributorRebateList" resultMap="ScmCwDistributorRebate">
	    SELECT *
	    FROM Scm_Cw_DistributorRebate 
	    WHERE masterId=#{masterId}
	</select>
	
</mapper>